.vscode/
node_modules/
client/dist/
dist/
build/
.env
server/.env
server/uploads/
# Python environment and cache files
venv/
__pycache__/
*.pyc
ai-services/form-checker/processed_outputs
ai-services/form-checker/temp_videos
*.mp4
*.flv